
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #EBEBEB;
}
img {
  max-width: 100%;
  display: block;
}
/* primeira faixa azul do menu */
#topo {
  background-color: #21272B;
  height: 65px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.container h1 {
  font-size: 20px;
  color: #1BB4E8;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-left: 0px;
}

.container p {
  margin-top: 35px;
  margin-left: 40px;
  color: #ffffff;
  font-style: italic;
  position: absolute;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: end;
  margin: 0 0 0 0px;
}
a {
  color: #FFFFFF;
}

a:hover {
  color: #1BB4E8;
  ;
}

.menu {
  margin-right: 50px;
  margin-top: -15px;
  color: #FFFFFF;
  font-size: 18px;
}

ul li,
span {
  margin-bottom: 20px;
  margin-left: 20px;
}

.barcoprincipal {
  margin-bottom: 30px;
  margin-top: 0px;
}

/* barco dentro da caixa azul */
.segundobarco {
  display: flex;
  align-items: flex-start;
}

/* mensagem dentro da caixa com telefone */
.mensagem {
  position: absolute;
  bottom: 0;
  right: 30px;
  background-color: #1A3243;
}

.marrom {
  color: #C6B07F;
}

.mensagem h3 {
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.mensagem p {
  color: #1BB4E8;
}

.grid-container {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: 1fr 1fr;
}

/* faixa azul com nome destino */
.logoDestino {
  background-color: #1BB4E8;
  height: 50px;
}

.logoDestino img {
  margin-left: 5px;
}

.logoDestino h2 {
  text-align: justify;
  margin-top: -40px;
  margin-left: 50px;
  font-size: 30px;
}

/* faixa marrom com nome frota */
.logoFrota {
  background-color: #C6B07F;
  height: 50px;
}

.logoFrota img {
  margin-left: 5px;
}

.logoFrota h2 {
  text-align: justify;
  margin-top: -35px;
  margin-left: 50px;
  font-size: 30px;
}

.texto-imagens {
  text-align: center;
  color: black;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .mensagem {
    position: relative;
    width: 1fr;
  }

  .container {
    position: relative;
  }
  .menu {
    position: relative;
    margin-right: 10px;
    font-size: medium;
    margin-top: 15px;
  }
  #topo {
    height: auto;
  }
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

footer {
  /* z-index: -1; */
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color:aliceblue;
}